<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootswatch/lux/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <main class="flex-fill">
        <div class="container my-5">
            @RenderBody()
        </div>
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>