<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootswatch/lux/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>Header Test</header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>Footer Test</footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
