@model Tabula.Models.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Account";
}

<h1>Login</h1>
<form asp-controller="Account" asp-action="LogIn" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" placeholder="Email Address" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" type="checkbox"/>
    </div>
    <button type="submit">Log in</button>
</form>
<a asp-controller="Account" asp-action="RegistrationPage">Need an account?</a>

