@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>You have successfully signed in</h1>
</div>

<form asp-controller="Account" asp-action="Logout">
    @Html.AntiForgeryToken()
    <button type="submit">Log out</button>
</form>